#
# $Id$
#
# There are several different sections where config options live
# [IO] handles IO related options
# [OPTIONS] Configures which analysis functions of honeysnap will be run

[IO]
OUTPUT_DATA_DIRECTORY=analysis
TMP_FILE_DIRECTORY=/tmp

# extra words file for IRC matching
# If no file if given, honeysnap will use its built in list.
#WORDFILE=./words

# HONEYPOTS is a space separated list of all the honeypots for the data
#HONEYPOTS=10.2.1.145 10.2.1.146 10.2.1.147 10.2.1.148
#HONEYPOTS=192.168.1.140
[OPTIONS]  
# Summarise pcap info
DO_PCAP=YES
# Summarise packet counts for common protocols
DO_PACKETS=YES    
# Summarise outgoing packets
DO_OUTGOING=YES
# Summarise incoming packets
DO_INCOMING=YES
# Extract files from HTTP
DO_HTTP=YES    
# Print files served by the honeypot over http?
# This option can be infomative, but can also generate a lot of spurious output 
# if the honeypot is scanned etc.
PRINT_HTTP_SERVED=NO
# Extract files from FTP
DO_FTP=YES
# Extract files from SMTP
DO_SMTP=YES      
# Extract all flows?
ALL_FLOWS=YES
# do verbose flow counts for all flows? (only valid if either or both of DO_INCOMING or do DO_OUTGOING is YES above)
VERBOSE_SUMMARY=YES 
# print that verbose flow info to stdout as well as to a file? Warning - it's a lot of output!
PRINT_VERBOSE=NO
# Extract/analyse IRC sessions
DO_IRC=YES   
# Look for IRC on which ports?
# IRC_PORTS=6667,6668 
IRC_PORTS=6667 
# Limit IRC summary output to just top N for each category? 
# Set to 0 to see everything
IRC_LIMIT=10
# Summarize sebek
DO_SEBEK=YES    
# port to look for sebek packets on
SEBEK_PORT=1101

#Check what type of file is extracted
ID_FILES=YES

# Summarize incoming connections
SUMMARIZE_INCOMING= NO
# Summarize outgoing connections
SUMMARIZE_OUTGOING= NO

